* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif; }

.content {
  display: block;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto; }

.content-fluid {
  width: 100%;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 768px) {
    .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

body {
  margin-bottom: 60px; }

.slick-next,
.slick-prev {
  display: none !important; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f05454; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f05454be; }

.green-button {
  color: #fff;
  background: #00E676;
  cursor: pointer;
  padding: 5px 20px;
  border: 0px;
  border-radius: 5px;
  font-size: 20px; }
  .green-button:hover {
    background: rgba(0, 230, 119, 0.89); }

.red-button {
  color: #fff;
  background: #F05454;
  cursor: pointer;
  padding: 5px 20px;
  border: 0px;
  border-radius: 5px;
  font-size: 20px; }
  .red-button:hover {
    background: #f05454c5; }

.logo {
  display: block;
  width: 312px; }
  @media (max-width: 768px) {
    .logo {
      margin: 0 auto; } }

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .information .info {
    width: 100%;
    max-width: calc((100% / 12) * 6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .information .info .col {
      width: 400px; }
      .information .info .col .red-block {
        width: 100%; }
        .information .info .col .red-block a {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          color: #F05454;
          text-align: right;
          font-size: 22px; }
          .information .info .col .red-block a:hover {
            color: #f05454c5; }
          .information .info .col .red-block a img {
            margin-right: 5px; }
      .information .info .col .black-block {
        position: relative;
        margin-top: 25px; }
        .information .info .col .black-block a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end;
          color: rgba(48, 71, 94, 0.85);
          text-align: right; }
          .information .info .col .black-block a img {
            margin-right: 5px; }
          .information .info .col .black-block a span {
            font-size: 24px;
            margin-left: 5px; }
        .information .info .col .black-block .descreption {
          position: absolute;
          right: 0;
          font-size: 14px;
          top: -15px;
          color: rgba(0, 0, 0, 0.25); }
    .information .info .soc-site {
      margin-left: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .information .info .soc-site a:nth-of-type(1) {
        margin-left: 2px;
        margin-bottom: 5px; }

header {
  width: 100%;
  height: 600px;
  background: url(../img/header/header-bg.png) no-repeat center center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%); }
  header .header-body {
    width: 100%;
    height: 100%;
    background: rgba(48, 71, 94, 0.85); }
    header .header-body .mneu {
      width: 100%;
      height: 80px;
      background: #F05454;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff;
      padding: 0 25px;
      overflow: auto; }
      header .header-body .mneu a {
        color: #fff;
        font-size: 20px;
        padding: 27px 0;
        margin-right: 40px;
        white-space: nowrap; }
    header .header-body .block-header-information {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end;
      margin-top: 80px; }
      header .header-body .block-header-information h1 {
        font-size: 36px;
        line-height: 42px;
        color: #fff; }
      header .header-body .block-header-information .sub-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        width: 100%;
        max-width: calc((100% / 12) * 8);
        margin-top: 10px; }
    header .header-body .form-header {
      width: 100%;
      height: 400px;
      background: #f05454c5;
      margin-top: 80px; }
      header .header-body .form-header .title {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header-body .form-header .title span {
          font-weight: 300;
          font-size: 24px;
          line-height: 28px;
          color: #FFFFFF;
          border-bottom: 1px solid #fff;
          margin-top: 15px; }
      header .header-body .form-header .row {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      header .header-body .form-header .white-inputs {
        width: 250px;
        height: 40px;
        border-radius: 5px;
        background: #fff;
        padding: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 20px; }
        header .header-body .form-header .white-inputs img {
          width: 18px; }
        header .header-body .form-header .white-inputs input {
          border: 0;
          width: calc(100% - 25px);
          height: 100%;
          font-weight: 300;
          font-size: 16px; }
      header .header-body .form-header .white-button {
        padding: 10px 30px;
        background: #fff;
        border: 0;
        border-radius: 30px;
        text-align: 18px;
        color: #F05454;
        font-weight: bold;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 30px; }
        header .header-body .form-header .white-button:hover {
          color: #f05454c5; }

.evocuator-block {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 20px;
  margin-top: 50px; }
  .evocuator-block .img-block {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .evocuator-block .img-block img {
      width: 80%; }
  .evocuator-block .ev-information {
    width: 50%; }
    .evocuator-block .ev-information h1 {
      font-weight: bold;
      font-size: 45px;
      line-height: 53px;
      color: #F05454; }
      .evocuator-block .ev-information h1:nth-of-type(2) {
        margin-top: 40px; }
    .evocuator-block .ev-information .text {
      font-weight: normal;
      font-size: 30px;
      line-height: 30px;
      color: #F05454;
      margin-top: -5px; }
    .evocuator-block .ev-information .row {
      margin-top: 10px; }
      .evocuator-block .ev-information .row button {
        margin-right: 15px; }
  .evocuator-block .slider-evocuator {
    width: 100%;
    height: 90px;
    margin-top: 15px;
    position: relative;
    overflow: hidden; }
    .evocuator-block .slider-evocuator::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 95px;
      background: #fff;
      -webkit-box-shadow: 8px 0px 5px -5px rgba(0, 0, 0, 0.25);
              box-shadow: 8px 0px 5px -5px rgba(0, 0, 0, 0.25);
      top: 0;
      left: -20px;
      z-index: 100; }
    .evocuator-block .slider-evocuator::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 95px;
      background: #fff;
      -webkit-box-shadow: -8px 0px 5px -5px rgba(0, 0, 0, 0.25);
              box-shadow: -8px 0px 5px -5px rgba(0, 0, 0, 0.25);
      top: 0;
      right: -20px; }
    .evocuator-block .slider-evocuator .images {
      width: auto;
      height: 100%;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-name: Slider-mark-and-certifi;
              animation-name: Slider-mark-and-certifi;
      -webkit-animation-timing-function: inherit;
              animation-timing-function: inherit;
      -webkit-animation-direction: initial;
              animation-direction: initial;
      -webkit-animation-duration: 60s;
              animation-duration: 60s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .evocuator-block .slider-evocuator .images img {
        width: 65px;
        margin-right: 15px; }
        .evocuator-block .slider-evocuator .images img:hover {
          -webkit-transition: 0.3s;
          transition: 0.3s;
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      .evocuator-block .slider-evocuator .images:hover {
        -webkit-animation-play-state: paused;
                animation-play-state: paused; }
@-webkit-keyframes Slider-mark-and-certifi {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
@keyframes Slider-mark-and-certifi {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
.black-title-h1 {
  width: 100%;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .black-title-h1 span {
    color: rgba(48, 71, 94, 0.85);
    border-bottom: 1px solid rgba(48, 71, 94, 0.85); }

.red-title-h1 {
  width: 100%;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .red-title-h1 span {
    color: #F05454;
    border-bottom: 1px solid #F05454; }

.work-reviewed {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px; }
  .work-reviewed .work {
    width: 100%;
    max-width: calc((100% / 12) * 8);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-left: 50px;
    -webkit-box-shadow: 12px 0px 12px -12px #c1c1c1;
            box-shadow: 12px 0px 12px -12px #c1c1c1;
    padding-right: 15px; }
    .work-reviewed .work .steps {
      width: 45px;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .work-reviewed .work .steps .number {
        width: 45px;
        height: 45px;
        border: 1px solid #F05454;
        color: #F05454;
        font-size: 30px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        margin-top: 65px; }
        .work-reviewed .work .steps .number:after {
          content: "";
          width: 1px;
          height: 55px;
          background: #F05454;
          position: absolute;
          top: 49px;
          left: calc(50% - 1px); }
        .work-reviewed .work .steps .number:nth-of-type(7)::after {
          display: none; }
        .work-reviewed .work .steps .number.active {
          background: #F05454;
          color: #fff;
          -webkit-transition: 1s;
          transition: 1s; }
    .work-reviewed .work .text-and-image {
      width: calc(100% - 50px);
      height: 160px;
      background: url(../img/work-reviewed/solid.png) no-repeat bottom center;
      background-size: 100% 60px;
      position: relative;
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-transform: translateY(-68px);
              transform: translateY(-68px); }
      .work-reviewed .work .text-and-image .title {
        font-weight: bold;
        font-size: 20px;
        line-height: 18px;
        width: 18%;
        text-align: center;
        position: absolute;
        bottom: 5px;
        color: rgba(48, 71, 94, 0.85); }
      .work-reviewed .work .text-and-image .text {
        width: 80%;
        font-weight: 300;
        font-size: 15px;
        line-height: 16px;
        position: absolute;
        left: 20%;
        top: 108px;
        color: rgba(48, 71, 94, 0.85); }
        .work-reviewed .work .text-and-image .text a {
          color: rgba(48, 71, 94, 0.85);
          font-weight: bold; }
      .work-reviewed .work .text-and-image .images {
        width: 80%;
        height: 80px;
        position: absolute;
        left: 20%;
        top: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .work-reviewed .work .text-and-image .images img {
          margin-right: 10px;
          width: 100px; }
  .work-reviewed .reviewed {
    width: 100%;
    max-width: calc((100% / 12) * 4); }
    .work-reviewed .reviewed .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      border-bottom: 1px solid rgba(48, 71, 94, 0.17);
      color: rgba(48, 71, 94, 0.85);
      -webkit-box-shadow: 0px 12px 12px -12px #c1c1c1;
              box-shadow: 0px 12px 12px -12px #c1c1c1;
      margin-top: -10px; }
    .work-reviewed .reviewed .reviewed-parent-block {
      width: 100%;
      height: 800px;
      overflow: auto; }
      .work-reviewed .reviewed .reviewed-parent-block .reviewed-block {
        width: 100%;
        height: auto;
        padding: 10px 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(48, 71, 94, 0.17);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 15px; }
        .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .img-block {
          width: 45px;
          height: 100%;
          margin-right: 10px; }
          .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .img-block img {
            width: 45px;
            height: 45px;
            border-radius: 50%; }
        .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .information-block {
          width: calc(100% - 45px);
          height: auto; }
          .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .information-block .user-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            color: #F05454; }
          .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .information-block .desc {
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: rgba(48, 71, 94, 0.85); }
          .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .information-block .starts {
            width: 100%;
            height: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: start;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 3px 0; }
            .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .information-block .starts .start-img {
              margin-right: 3px;
              width: 14px;
              height: 14px;
              background: url(../img/work-reviewed/reviewed/star.svg) no-repeat center center;
              background-size: 14px; }
          .work-reviewed .reviewed .reviewed-parent-block .reviewed-block .information-block .text {
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: rgba(48, 71, 94, 0.85); }

.video-galery {
  overflow: hidden;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 15px 0;
  position: relative; }
  .video-galery::after {
    content: "";
    position: absolute;
    width: 20px;
    height: calc(100% + 30px);
    background: #fff;
    -webkit-box-shadow: 7px 0px 4px -4px rgba(0, 0, 0, 0.25);
            box-shadow: 7px 0px 4px -4px rgba(0, 0, 0, 0.25);
    top: -20px;
    left: 0px;
    z-index: 100; }
  .video-galery::before {
    content: "";
    position: absolute;
    width: 20px;
    height: calc(100% + 30px);
    background: #fff;
    -webkit-box-shadow: -7px 0px 4px -4px rgba(0, 0, 0, 0.25);
            box-shadow: -7px 0px 4px -4px rgba(0, 0, 0, 0.25);
    top: -20px;
    right: 0px;
    z-index: 100; }
  .video-galery .blocks {
    width: calc(0.0625rem * 290);
    height: auto;
    background: #F05454;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-right: 20px; }
    .video-galery .blocks .img-block {
      width: 100%;
      height: calc(0.0625rem * 190);
      position: relative; }
      .video-galery .blocks .img-block:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 110px;
        background: -webkit-gradient(linear, left bottom, left top, from(#F05454), to(transparent));
        background: linear-gradient(0deg, #F05454, transparent); }
      .video-galery .blocks .img-block img {
        width: 100%;
        height: 100%; }
      .video-galery .blocks .img-block .icon-play {
        width: calc(0.0625rem * 60);
        height: calc(0.0625rem * 60);
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 80px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        z-index: 100; }
        .video-galery .blocks .img-block .icon-play:hover {
          -webkit-transform: scale(1.03);
                  transform: scale(1.03); }
      .video-galery .blocks .img-block .block-category {
        width: calc(0.0625rem * 15);
        height: calc(0.0625rem * 15);
        position: absolute;
        right: 10px;
        top: 10px; }
    .video-galery .blocks .title {
      font-style: normal;
      font-weight: bold;
      font-size: calc(0.0625rem * 25);
      line-height: 29px;
      color: #fff;
      padding-left: 10px; }
    .video-galery .blocks .sub-title {
      font-style: normal;
      font-weight: 300;
      font-size: calc(0.0625rem * 13);
      line-height: 15px;
      color: #fff;
      padding-left: 10px;
      margin-top: 5px; }

.car-filter {
  margin-top: -50px; }
  .car-filter #car-filter {
    background: #f05454;
    border: 0;
    color: #fff;
    padding: 8px 10px 8px 40px;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    font-size: calc(0.0625rem * 18);
    line-height: 25px;
    color: #fff; }
    .car-filter #car-filter option {
      padding: 5px 0;
      border: 0;
      text-align: center; }
  .car-filter svg {
    -webkit-transform: translate(60px, 5px);
            transform: translate(60px, 5px);
    position: relative;
    z-index: 1; }

.bootom-menu {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #F05454;
  -webkit-box-shadow: 0px -1px 6px 0px #ccc;
          box-shadow: 0px -1px 6px 0px #ccc;
  z-index: 1000000; }
  .bootom-menu .content {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .bootom-menu .content .col {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 40px;
      border-right: 1px solid rgba(255, 255, 255, 0.438);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .bootom-menu .content .col a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .bootom-menu .content .col a img {
          width: 22px; }
        .bootom-menu .content .col a span {
          color: #fff;
          font-weight: 100;
          font-size: 15px;
          line-height: 18px;
          text-transform: capitalize; }
        .bootom-menu .content .col a:hover span {
          color: #e6e4e4; }
      .bootom-menu .content .col .call {
        width: 450px;
        height: 32px;
        background: #fff;
        border-radius: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto;
        padding: 0 10px; }
        .bootom-menu .content .col .call .title {
          font-style: normal;
          font-weight: 300;
          font-size: 10px;
          line-height: 12px;
          color: #F05454;
          width: 100px;
          text-align: center; }
        .bootom-menu .content .col .call .for-inp {
          width: 150px;
          height: 22px;
          border: 1px solid #F05454;
          border-radius: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: 300;
          font-size: 10px;
          line-height: 12px;
          color: rgba(48, 71, 94, 0.85);
          padding-left: 5px;
          overflow: hidden;
          margin-right: 5px; }
          .bootom-menu .content .col .call .for-inp span {
            width: 20px; }
          .bootom-menu .content .col .call .for-inp input {
            border: 0;
            height: 100%;
            width: 125px; }
        .bootom-menu .content .col .call button {
          border: 0;
          background: #00E676;
          color: #fff;
          border-radius: 30px;
          white-space: nowrap;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 22px;
          padding: 0 10px;
          cursor: pointer; }
          .bootom-menu .content .col .call button:hover {
            background: rgba(0, 230, 119, 0.89); }
          .bootom-menu .content .col .call button svg {
            margin-right: 5px;
            fill: #fff;
            width: 15px; }

/*# sourceMappingURL=style.css.map */